    /*
    Flaticon icon font: Flaticon
    Creation date: 22/05/2019 11:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-puppy:before { content: "\f100"; }
.flaticon-dog-food:before { content: "\f101"; }
.flaticon-collar:before { content: "\f102"; }
.flaticon-license:before { content: "\f103"; }
.flaticon-bathing:before { content: "\f104"; }
.flaticon-canned-food:before { content: "\f105"; }
.flaticon-canned-food-1:before { content: "\f106"; }
.flaticon-leash:before { content: "\f107"; }
.flaticon-dog-food-bowl:before { content: "\f108"; }
.flaticon-face-of-staring-dog:before { content: "\f109"; }
.flaticon-dog-face:before { content: "\f10a"; }
.flaticon-chewing-bone-for-dog:before { content: "\f10b"; }
.flaticon-border-collie-dog-head:before { content: "\f10c"; }
.flaticon-angry-dog:before { content: "\f10d"; }
.flaticon-dog-face-1:before { content: "\f10e"; }
.flaticon-border-collie-head:before { content: "\f10f"; }
.flaticon-animal-paw-print:before { content: "\f110"; }
.flaticon-dog-bone:before { content: "\f111"; }
.flaticon-long-haired-dog-head:before { content: "\f112"; }
.flaticon-dog-face-2:before { content: "\f113"; }
.flaticon-basset-hound-dog-head:before { content: "\f114"; }
.flaticon-plain-dog:before { content: "\f115"; }
.flaticon-dog-in-front-of-a-man:before { content: "\f116"; }
.flaticon-dog-with-belt-walking-with-a-man:before { content: "\f117"; }
.flaticon-man-on-his-knees-to-cuddle-his-dog:before { content: "\f118"; }
.flaticon-man-carrying-a-dog-with-a-belt-to-walk:before { content: "\f119"; }
.flaticon-man-throwing-a-disc-and-dog-jumping-to-catch-it:before { content: "\f11a"; }
.flaticon-dog-having-a-bubbles-bath:before { content: "\f11b"; }
.flaticon-dog-puppy-sitting-in-front-of-his-man:before { content: "\f11c"; }
.flaticon-dog-checked-by-a-veterinary:before { content: "\f11d"; }
.flaticon-man-combing-a-dog:before { content: "\f11e"; }
.flaticon-dog-puppy-and-his-owner-looking-to-opposite-directions:before { content: "\f11f"; }
.flaticon-dog-playing-with-a-man:before { content: "\f120"; }
.flaticon-dog-and-a-man:before { content: "\f121"; }
.flaticon-dog-and-pets-house:before { content: "\f122"; }
.flaticon-dog-smelling-a-bone:before { content: "\f123"; }
.flaticon-dog-with-owner:before { content: "\f124"; }
.flaticon-dog-bitting-a-stick-playing-with-a-man:before { content: "\f125"; }
.flaticon-paws-up-dog-playing-with-a-man:before { content: "\f126"; }
.flaticon-dog-learning-man-instructions:before { content: "\f127"; }
.flaticon-dog-shitting:before { content: "\f128"; }
.flaticon-dog-with-first-aid-kit-bag:before { content: "\f129"; }
.flaticon-bone:before { content: "\f12a"; }
.flaticon-dog:before { content: "\f12b"; }
.flaticon-stethoscope:before { content: "\f12c"; }
.flaticon-veterinary:before { content: "\f12d"; }
.flaticon-dog-1:before { content: "\f12e"; }
.flaticon-dog-seating:before { content: "\f12f"; }
.flaticon-dog-running:before { content: "\f130"; }
.flaticon-dog-dish:before { content: "\f131"; }
.flaticon-dog-face-3:before { content: "\f132"; }
.flaticon-guide-dog:before { content: "\f133"; }
.flaticon-dog-collar:before { content: "\f134"; }
.flaticon-dog-playing:before { content: "\f135"; }
.flaticon-bone-1:before { content: "\f136"; }
.flaticon-feeding-the-dog:before { content: "\f137"; }
.flaticon-dog-seating-1:before { content: "\f138"; }
.flaticon-walking-the-dog:before { content: "\f139"; }
.flaticon-dog-seatting:before { content: "\f13a"; }
.flaticon-dog-running-1:before { content: "\f13b"; }
.flaticon-german-shepherd:before { content: "\f13c"; }
.flaticon-washing-the-dog:before { content: "\f13d"; }
.flaticon-dog-eating:before { content: "\f13e"; }
.flaticon-dog-playing-1:before { content: "\f13f"; }
.flaticon-man-dog-and-stick:before { content: "\f140"; }
.flaticon-couple-of-dogs:before { content: "\f141"; }
.flaticon-dog-urinating:before { content: "\f142"; }
.flaticon-man-and-dog:before { content: "\f143"; }
.flaticon-treat:before { content: "\f144"; }
.flaticon-dog-sleeping:before { content: "\f145"; }
.flaticon-dog-and-man-seating:before { content: "\f146"; }
.flaticon-dog-walker:before { content: "\f147"; }
.flaticon-dog-licking:before { content: "\f148"; }
.flaticon-dog-scaping:before { content: "\f149"; }
.flaticon-hughing-dog:before { content: "\f14a"; }
.flaticon-dog-training:before { content: "\f14b"; }
.flaticon-dog-2:before { content: "\f14c"; }
.flaticon-dog-training-1:before { content: "\f14d"; }
.flaticon-walking-the-dog-1:before { content: "\f14e"; }
.flaticon-dog-training-2:before { content: "\f14f"; }
.flaticon-running:before { content: "\f150"; }
.flaticon-exposition:before { content: "\f151"; }
.flaticon-dog-training-3:before { content: "\f152"; }
.flaticon-dog-training-4:before { content: "\f153"; }
.flaticon-dog-3:before { content: "\f154"; }
.flaticon-pets-hotel-symbol-with-a-dog-and-a-cat-in-a-circle-with-one-star:before { content: "\f155"; }
.flaticon-pet-hotel-sign-with-a-dog-and-a-cat-under-a-roof-line:before { content: "\f156"; }
.flaticon-dog-pet-allowed-hotel-signal:before { content: "\f157"; }
.flaticon-dog-pawprint-in-a-house:before { content: "\f158"; }
.flaticon-pets-hotel-circular-symbol-with-a-dog-and-a-verification-sign-inside-a-heart:before { content: "\f159"; }
.flaticon-thumb-up-on-dog-symbol:before { content: "\f15a"; }
.flaticon-pets-hotel-house-sign-with-a-paw:before { content: "\f15b"; }
.flaticon-pet-hotel-symbol-with-three-stars:before { content: "\f15c"; }
.flaticon-pet-hotel-symbols-of-three-stars-a-semicircle-and-a-bone-black-shape:before { content: "\f15d"; }
.flaticon-big-dog-black-silhouette-with-verification-sign:before { content: "\f15e"; }
.flaticon-pets-hotel:before { content: "\f15f"; }
.flaticon-pet-hotel-sign:before { content: "\f160"; }
.flaticon-dog-4:before { content: "\f161"; }
.flaticon-pawprints:before { content: "\f162"; }
.flaticon-pawprints-1:before { content: "\f163"; }
.flaticon-dog-pawprints:before { content: "\f164"; }
.flaticon-pet:before { content: "\f165"; }
.flaticon-dog-training-5:before { content: "\f166"; }
.flaticon-dog-puppy:before { content: "\f167"; }
.flaticon-dog-5:before { content: "\f168"; }
.flaticon-dog-6:before { content: "\f169"; }
.flaticon-animal:before { content: "\f16a"; }
.flaticon-running-dog-silhouette:before { content: "\f16b"; }
.flaticon-sitting-dog:before { content: "\f16c"; }
.flaticon-dog-silhouette-in-a-sitting-position:before { content: "\f16d"; }
.flaticon-sitting-dog-1:before { content: "\f16e"; }
    
    $font-Flaticon-puppy: "\f100";
    $font-Flaticon-dog-food: "\f101";
    $font-Flaticon-collar: "\f102";
    $font-Flaticon-license: "\f103";
    $font-Flaticon-bathing: "\f104";
    $font-Flaticon-canned-food: "\f105";
    $font-Flaticon-canned-food-1: "\f106";
    $font-Flaticon-leash: "\f107";
    $font-Flaticon-dog-food-bowl: "\f108";
    $font-Flaticon-face-of-staring-dog: "\f109";
    $font-Flaticon-dog-face: "\f10a";
    $font-Flaticon-chewing-bone-for-dog: "\f10b";
    $font-Flaticon-border-collie-dog-head: "\f10c";
    $font-Flaticon-angry-dog: "\f10d";
    $font-Flaticon-dog-face-1: "\f10e";
    $font-Flaticon-border-collie-head: "\f10f";
    $font-Flaticon-animal-paw-print: "\f110";
    $font-Flaticon-dog-bone: "\f111";
    $font-Flaticon-long-haired-dog-head: "\f112";
    $font-Flaticon-dog-face-2: "\f113";
    $font-Flaticon-basset-hound-dog-head: "\f114";
    $font-Flaticon-plain-dog: "\f115";
    $font-Flaticon-dog-in-front-of-a-man: "\f116";
    $font-Flaticon-dog-with-belt-walking-with-a-man: "\f117";
    $font-Flaticon-man-on-his-knees-to-cuddle-his-dog: "\f118";
    $font-Flaticon-man-carrying-a-dog-with-a-belt-to-walk: "\f119";
    $font-Flaticon-man-throwing-a-disc-and-dog-jumping-to-catch-it: "\f11a";
    $font-Flaticon-dog-having-a-bubbles-bath: "\f11b";
    $font-Flaticon-dog-puppy-sitting-in-front-of-his-man: "\f11c";
    $font-Flaticon-dog-checked-by-a-veterinary: "\f11d";
    $font-Flaticon-man-combing-a-dog: "\f11e";
    $font-Flaticon-dog-puppy-and-his-owner-looking-to-opposite-directions: "\f11f";
    $font-Flaticon-dog-playing-with-a-man: "\f120";
    $font-Flaticon-dog-and-a-man: "\f121";
    $font-Flaticon-dog-and-pets-house: "\f122";
    $font-Flaticon-dog-smelling-a-bone: "\f123";
    $font-Flaticon-dog-with-owner: "\f124";
    $font-Flaticon-dog-bitting-a-stick-playing-with-a-man: "\f125";
    $font-Flaticon-paws-up-dog-playing-with-a-man: "\f126";
    $font-Flaticon-dog-learning-man-instructions: "\f127";
    $font-Flaticon-dog-shitting: "\f128";
    $font-Flaticon-dog-with-first-aid-kit-bag: "\f129";
    $font-Flaticon-bone: "\f12a";
    $font-Flaticon-dog: "\f12b";
    $font-Flaticon-stethoscope: "\f12c";
    $font-Flaticon-veterinary: "\f12d";
    $font-Flaticon-dog-1: "\f12e";
    $font-Flaticon-dog-seating: "\f12f";
    $font-Flaticon-dog-running: "\f130";
    $font-Flaticon-dog-dish: "\f131";
    $font-Flaticon-dog-face-3: "\f132";
    $font-Flaticon-guide-dog: "\f133";
    $font-Flaticon-dog-collar: "\f134";
    $font-Flaticon-dog-playing: "\f135";
    $font-Flaticon-bone-1: "\f136";
    $font-Flaticon-feeding-the-dog: "\f137";
    $font-Flaticon-dog-seating-1: "\f138";
    $font-Flaticon-walking-the-dog: "\f139";
    $font-Flaticon-dog-seatting: "\f13a";
    $font-Flaticon-dog-running-1: "\f13b";
    $font-Flaticon-german-shepherd: "\f13c";
    $font-Flaticon-washing-the-dog: "\f13d";
    $font-Flaticon-dog-eating: "\f13e";
    $font-Flaticon-dog-playing-1: "\f13f";
    $font-Flaticon-man-dog-and-stick: "\f140";
    $font-Flaticon-couple-of-dogs: "\f141";
    $font-Flaticon-dog-urinating: "\f142";
    $font-Flaticon-man-and-dog: "\f143";
    $font-Flaticon-treat: "\f144";
    $font-Flaticon-dog-sleeping: "\f145";
    $font-Flaticon-dog-and-man-seating: "\f146";
    $font-Flaticon-dog-walker: "\f147";
    $font-Flaticon-dog-licking: "\f148";
    $font-Flaticon-dog-scaping: "\f149";
    $font-Flaticon-hughing-dog: "\f14a";
    $font-Flaticon-dog-training: "\f14b";
    $font-Flaticon-dog-2: "\f14c";
    $font-Flaticon-dog-training-1: "\f14d";
    $font-Flaticon-walking-the-dog-1: "\f14e";
    $font-Flaticon-dog-training-2: "\f14f";
    $font-Flaticon-running: "\f150";
    $font-Flaticon-exposition: "\f151";
    $font-Flaticon-dog-training-3: "\f152";
    $font-Flaticon-dog-training-4: "\f153";
    $font-Flaticon-dog-3: "\f154";
    $font-Flaticon-pets-hotel-symbol-with-a-dog-and-a-cat-in-a-circle-with-one-star: "\f155";
    $font-Flaticon-pet-hotel-sign-with-a-dog-and-a-cat-under-a-roof-line: "\f156";
    $font-Flaticon-dog-pet-allowed-hotel-signal: "\f157";
    $font-Flaticon-dog-pawprint-in-a-house: "\f158";
    $font-Flaticon-pets-hotel-circular-symbol-with-a-dog-and-a-verification-sign-inside-a-heart: "\f159";
    $font-Flaticon-thumb-up-on-dog-symbol: "\f15a";
    $font-Flaticon-pets-hotel-house-sign-with-a-paw: "\f15b";
    $font-Flaticon-pet-hotel-symbol-with-three-stars: "\f15c";
    $font-Flaticon-pet-hotel-symbols-of-three-stars-a-semicircle-and-a-bone-black-shape: "\f15d";
    $font-Flaticon-big-dog-black-silhouette-with-verification-sign: "\f15e";
    $font-Flaticon-pets-hotel: "\f15f";
    $font-Flaticon-pet-hotel-sign: "\f160";
    $font-Flaticon-dog-4: "\f161";
    $font-Flaticon-pawprints: "\f162";
    $font-Flaticon-pawprints-1: "\f163";
    $font-Flaticon-dog-pawprints: "\f164";
    $font-Flaticon-pet: "\f165";
    $font-Flaticon-dog-training-5: "\f166";
    $font-Flaticon-dog-puppy: "\f167";
    $font-Flaticon-dog-5: "\f168";
    $font-Flaticon-dog-6: "\f169";
    $font-Flaticon-animal: "\f16a";
    $font-Flaticon-running-dog-silhouette: "\f16b";
    $font-Flaticon-sitting-dog: "\f16c";
    $font-Flaticon-dog-silhouette-in-a-sitting-position: "\f16d";
    $font-Flaticon-sitting-dog-1: "\f16e";